/* JJK 3/15/2020 */
.link-tile {
    width: 175px;
}
.link-tile-sm {
    width: 130px;
}

/* Turn off the outline on clicks to brand anchors */
li {
	list-style-type: none;
}
a:link {
	outline: 0;
	text-decoration:none; 
}
/*
a {
	outline: 0;
	text-decoration:none; 
}
a:visited {
	outline: 0;
	text-decoration:none; 
}
a:hover {
	outline: 0;
	text-decoration:none; 
}
a:active {
	outline: 0;
	text-decoration:none; 
}
*/

