.idea/
.vscode/
node_modules/
build
.DS_Store
*.tgz
my-app*
template/src/__tests__/__snapshots__/
lerna-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.changelog
.env
*-search.json
*.wav
*.mp3
*.log
ssl/
package-lock.json
public/Data
public/Media
public/MediaGallery
public/dotenv.php
public/jjkBands
public/jjkMusic
public/jjkPhotos
public/jjkPhotosSmaller
public/jjkPhotosThumbs
public/jjkVideos
.editorconfig
public/emoncms
googleAnalytics.js
images
secrets.php